# INDEXER_PRIVATE_KEY: Authorized key to update ReputationRegistry (Indexer Role)
INDEXER_PRIVATE_KEY=e2db89799e6a13d15000d0ab6780134e726f685d4a01967a1513fb1589ad62bf

# ARC_RPC_URL: RPC endpoint for Arc Testnet
ARC_RPC_URL="https://rpc.testnet.arc.network"
